createdAt: "2019-01-12T22:28:35.319Z"
updatedAt: "2020-04-06T10:15:18.415Z"
type: "SNIPPET_NOTE"
folder: "aca1f8e65d06e28b00e0"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
