createdAt: "2021-01-02T13:00:17.787Z"
updatedAt: "2021-01-02T13:01:21.601Z"
type: "MARKDOWN_NOTE"
folder: "f752f0b9ae476cbf3bbd"
title: "Źródła wiedzy"
tags: []
content: '''
  # Źródła wiedzy
  
  dane:
  [Gazeta Giełdowa \\| Analiza fundamentalna spółek z GPW - jak patrzeć na spółki giełdowe, żeby nie stracić, a zyskać inwestując na giełdzie.](https://gazetagieldowa.pl/)
  
  książki:
  * Zwykłe akcje, niezwykłe zyski
'''
linesHighlighted: []
isStarred: false
isTrashed: false
