createdAt: "2020-05-10T21:50:08.686Z"
updatedAt: "2020-05-10T21:50:22.191Z"
type: "MARKDOWN_NOTE"
folder: "99518829502f949bd844"
title: "Wzorce projektowe strukturalne (desing pattern structural)"
content: "# Wzorce projektowe strukturalne (desing pattern structural)"
tags: []
isStarred: false
isTrashed: false
