createdAt: "2021-01-02T11:55:34.674Z"
updatedAt: "2021-01-02T11:55:37.026Z"
type: "MARKDOWN_NOTE"
folder: "f752f0b9ae476cbf3bbd"
title: "Rachunkowość finansowa"
tags: []
content: '''
  # Rachunkowość finansowa
  
  
  ## Konto księgowe
  
  ### Konto
  urządzenie ewidencyjne służące do ujmowania operacji gospodarczych wyrażonych w pieniądzu
  
  **Debet (Dt) Winien (Wn)** - ewidencja operacji o charakterze **ujemnym**
  
  **Credit (Cr) Ma (Ma)** - ewidencja operacji o charakterze **dodatnim**
  ![3e167871.png](:storage/21ca7f8f-486b-4253-8331-0d805b3ecdc9/ab101175.png)
  
  ### Operacja gospodarcza 
  Udokumentowane i podlegające ewidencji księgowej zdarzenie gospodarcze
  
  ### Zasada podwójnego zapisu
  każde zdarzenie gospodarcze musi być ujęte
  * na co najmniej dwóch kontach
  * po przeciwnych stronach kont (na jednym koncie zapis musi być po stronie Dt, a na drugim po stronie Cr)
  * w tej samej  kwocie (Wielkość po stronie Dt i Cr musi być identyczna)
  
  ![f5a40f37.png](:storage/21ca7f8f-486b-4253-8331-0d805b3ecdc9/b92471a4.png)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
