createdAt: "2019-12-13T23:31:44.174Z"
updatedAt: "2019-12-13T23:55:54.440Z"
type: "MARKDOWN_NOTE"
folder: "fd5aba9232ecf0e2a51a"
title: "Rachunkowość finansowa"
content: '''
  # Rachunkowość finansowa
  
  
  ## Konto księgowe
  
  ### Konto
  urządzenie ewidencyjne służące do ujmowania operacji gospodarczych wyrażonych w pieniądzu
  
  **Debet (Dt) Winien (Wn)** - ewidencja operacji o charakterze **ujemnym**
  
  **Credit (Cr) Ma (Ma)** - ewidencja operacji o charakterze **dodatnim**
  ![3e167871.png](:storage/24b43a4a-abad-4ac5-9053-9f69234c902c/3e167871.png)
  
  ### Operacja gospodarcza 
  Udokumentowane i podlegające ewidencji księgowej zdarzenie gospodarcze
  
  ### Zasada podwójnego zapisu
  każde zdarzenie gospodarcze musi być ujęte
  * na co najmniej dwóch kontach
  * po przeciwnych stronach kont (na jednym koncie zapis musi być po stronie Dt, a na drugim po stronie Cr)
  * w tej samej  kwocie (Wielkość po stronie Dt i Cr musi być identyczna)
  
  ![f5a40f37.png](:storage/24b43a4a-abad-4ac5-9053-9f69234c902c/f5a40f37.png)
'''
tags: []
isStarred: false
isTrashed: false
