createdAt: "2021-01-02T13:14:17.010Z"
updatedAt: "2021-01-11T21:53:24.306Z"
type: "MARKDOWN_NOTE"
folder: "f752f0b9ae476cbf3bbd"
title: "DCF-Wycena spółki metodą zdyskontowanych przepływów pieniężnych"
tags: []
content: '''
  # DCF-Wycena spółki metodą zdyskontowanych przepływów pieniężnych
  
  
  
  [DCF nie pokazuje rzeczywistej wartości spółki \\| Gazeta Giełdowa](https://gazetagieldowa.pl/edukacja/dcf-nie-pokazuje-rzeczywistej-wartosci-spolki/)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
