createdAt: "2019-06-17T08:04:46.332Z"
updatedAt: "2019-08-23T07:28:01.269Z"
type: "MARKDOWN_NOTE"
folder: "99518829502f949bd844"
title: "Spring Batch"
tags: [
  "spring"
]
content: '''
  # Spring Batch
  
  ![a1c96613.png](:storage\\28ff38be-2463-44c6-9d65-98e01201bc62\\a1c96613.png)
  
  ## 2 Batch Configuration Features
  ![05fa969f.png](:storage\\28ff38be-2463-44c6-9d65-98e01201bc62\\05fa969f.png)
  
  Konfiguracja tych trzech komponentów znajduje się w klasie implementującej interface BatchConfigurer
  
  ```java
  @Component
  @EnableBatchProcessing
  public class BatchConfiguration implements BatchConfigurer {
  
      private JobRepository jobRepository;
      private JobExplorer jobExplorer;
      private JobLauncher jobLauncher;
  ```
  
  ## 3 Spring Batch Terms
  ![463fe95e.png](:storage\\28ff38be-2463-44c6-9d65-98e01201bc62\\463fe95e.png)
  
  **job** template for how batch proccesing will be performed
  
  **joba instance** posiada stan
  
  **job  execution** pojedyńcza próba wykonania joba
  
  **job parameters**
  
  **step**
  
  **step execution**
  
  
  
  
  ## 4 Job Repository Database tables
  ![95cc0ae5.png](:storage\\28ff38be-2463-44c6-9d65-98e01201bc62\\95cc0ae5.png)
  
  ### [Schema do bazy danych](https://github.com/spring-projects/spring-batch/blob/master/spring-batch-core/src/main/resources/org/springframework/batch/core/schema-postgresql.sql)
  
  ## 5 Job Configuration Classes
  ![397b3b0d.png](:storage\\28ff38be-2463-44c6-9d65-98e01201bc62\\397b3b0d.png)
  
  Instancje job i step tworzone są w klasie:
  ```java
  @Configuration
  public class BatchJobConfiguration {
  
      @Autowired
      private JobBuilderFactory jobBuilderFactory;
  
      @Autowired
      private StepBuilderFactory stepBuilderFactory;
      }
  ```
  
  
  ## 6 Step Configuration
  ![2f97152d.png](:storage\\28ff38be-2463-44c6-9d65-98e01201bc62\\2f97152d.png)
  
'''
linesHighlighted: []
isStarred: true
isTrashed: false
