createdAt: "2019-08-10T22:54:41.719Z"
updatedAt: "2019-08-10T22:54:51.836Z"
type: "MARKDOWN_NOTE"
folder: "99518829502f949bd844"
title: "Java 11"
tags: []
content: '''
  ## Java 11
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
