createdAt: "2020-04-09T07:21:15.814Z"
updatedAt: "2020-04-09T07:28:13.163Z"
type: "MARKDOWN_NOTE"
folder: "326f242ccc19a4907a8b"
title: "FTL"
tags: []
content: '''
  # FTL
  
  ## if
  ```xml
  <#if x == 1>
    x is 1
  </#if>
  ```
  ### string comparission OR
  
  ```xml
  <#if atrybuty.kod=="1" || atrybuty.kod=="2">
  </#if>
  ```
  
  ### else
  ```xml
  <#if x == 1>
    x is 1
  <#else>
    x is not 1
  </#if>
  ```
'''
linesHighlighted: []
isStarred: false
isTrashed: false
