createdAt: "2019-05-05T12:02:45.847Z"
updatedAt: "2019-10-16T13:37:10.055Z"
type: "MARKDOWN_NOTE"
folder: "a38bc68bbb6e2970c167"
title: "Git"
content: '''
  # Git
  ## Export istniejącego kodu z repo lokalnego do zdalnego 
  
  1. commit : 
  ```bash
  git commit -m "Opis commita"
  ```
  
  2. dodanie adresu repozytorium zdalnego :
  ```bash
  git remote add origin adres 
  ```
  
  3. przesyłanie gałęzi z repozytorium lokalnego do repozytorium zdalnego 
  ```bash
  git push [nazwa repozytorium zdalnego] [nazwa gałęzi zdalnej] 
  ```
  
  ## Łączenie dwóch commitów 
  ```bash
  git rebase -i [id ostatniego commita]   
  squash [id przed ostatniego commita]  [komentarz] 
  
  ```
   
  
  ## Dodawanie lokalnego repozytorium do zdalnego 
  
   
  
  1. Stwórz lokalne repo z przynajmniej jednym commitem 
  
   
  
  2. ustaw nowe zdalne repo 
  
  ```bash  
    git remote add origin [remote repository URL]origin ori
  ``` 
  
   
  3. Zweryfikuj nowe zdalne repo 
  
  ```bash
  git remote -v
  ```
  
  4. Wyślij  gałąź główną do zdalnego repozytorium 
  ```bash
  git push origin master 
  ```
   
  
  ## Ignorowanie plików 
  
  gitignore 
  	
  
  plik zapisywany w obrzarze roboczym 
  
  .git/info/exclude 
  	
  
  plik zapisywany w repozytorium 
  
   
  
  ### reguły ignorowanych plików 
  
  *.[oa] 
  
  *.exe : **ignorowanie plików z końcówką '.exe'**
  
   
  
  /tmp : **ignorowanie plików z folderu 'tmp'** 
  
  
  ## Kurs
  ### Tworzenie repozytorium 
  
  git  init : **Tworzenie inicjalnego repo w folderze**
  
  git clone [hiperlink] : **klonowanie repo z zewnętrznego serwera**
  
  
  
  find . -type f -print | grep -v -E '/\\.git' | wc -l :**ustalenie liczby plików projektu**
  
  ### git log
  **liczba rewizji**
  ```bash
  git log --pretty=oneline | wc -l :
  ```
  
  **Przeglądanie zmian, sprawdzanie zmian wprowadzonych w repo.**
  ```bash
  git log
  ```
  
  [spacja] : **przewijanie wyników**
  
  [Q]- **wyłączanie**
  
  **wydrukowanie info o trzech ostatnich rewizjach**
  ```bash
  git log -3
  ```
  
  **sprawdzenie  uczestników projektu**
  ```bash
  git shortlog -s -n
  ```
  **sprawdzenie liczby uczestników projektu**
  ```bash
  git shortlog -s -n | wc -l
  ```
  
  ## cherry pick
  ```bash
  git cherry-pick -x <numer_rewizji> -m <numer_gałęzi_rodzica>
  
  przykład:
  git cherry-pick -x ec0270dd0523ceae80a44e66d9b2f5620290641e -m 2
  
  ```
  * -x - dodaje linię "(cherry picked from commit …​)" do komentarza commita 
  * -m - podczas cherry-picka rewizji, która jest mergem dwóch gałęzi nalezy wybrać numer gałęzi-rodzica. Zazwyczaj mergowana jest gałąz feature do gałęzi develop. W takim przypadku należy wybrać gałąz feature.
  
  ## usunięcie brancha ze zdalnego repo
  ```bash
    git branch push --delete origin <nazwa_brancha>
  ```
  
  ## przywracanie gałęzi lokalnej do postaci gałęzi zdalnej
  ```bash
  git fetch origin
  git reset --hard origin/develop
  
  develop jest nazwą gałęzi zdalnej
  ```
  
'''
tags: []
isStarred: false
isTrashed: false
linesHighlighted: []
