createdAt: "2018-11-12T15:51:13.280Z"
updatedAt: "2019-01-12T22:27:37.223Z"
type: "MARKDOWN_NOTE"
folder: "aca1f8e65d06e28b00e0"
title: "Mysql"
content: '''
  # Mysql
  
  
  wybranie bazy
  ```sql
  use database_name
  ```
'''
tags: [
  "sql_mysql"
  "sql"
]
isStarred: false
isTrashed: false
