createdAt: "2019-08-10T22:48:23.299Z"
updatedAt: "2019-08-11T10:10:23.385Z"
type: "MARKDOWN_NOTE"
folder: "99518829502f949bd844"
title: "Java 10"
tags: []
content: '''
  # Java 10
  * [What's New in Java 10](https://stackify.com/whats-new-in-java-10/)
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
