createdAt: "2020-09-14T13:21:31.275Z"
updatedAt: "2020-09-14T13:21:52.793Z"
type: "MARKDOWN_NOTE"
folder: "a7e795acb6fcea97a14c"
title: "JavaScript"
tags: []
content: '''
  # JavaScript
  
  ## Arrays
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
