createdAt: "2020-08-19T09:18:21.447Z"
updatedAt: "2021-01-20T18:51:17.598Z"
type: "MARKDOWN_NOTE"
folder: "84427892d6bee884f6e4"
title: "Conditionals  - okresy warunkowe"
tags: []
content: '''
  # Conditionals  - okresy warunkowe
  ![dfb091a7.png](:storage/8ae82a0a-5597-4430-b391-5dcbca28e8f1/dfb091a7.png)
  
  ## 0 conditional
  Używamy tylko w przypadku mowy o sytuacjach prawdziwych, tzn. kiedy coś jest zawsze prawdą, a także mówiąc o zwyczajach.
  
  ### Budowa:
  ## If + Present Simple + Present Simple
  
  * If you jump to the swimming pool, you get wet.
  
  * If you don’t drink, you are thirsty.
  * If you sleep well at night you feel relaxed.
  
  ## 1st conditional
  Stosujemy w przypadkach, kiedy mówimy o sytuacjach / zdarzeniach przyszłych, możliwych i realnych, kiedy istnieje duże prawdopodobieństwo, że warunek zostanie spełniony.
  
  ### Budowa:
  ## If + Present Simple + Future Simple (will + podstawowa forma czasownika)
  
  lub:
  
  Future Simple + if + Present Simple
  ### przykład:
  
  * If you are hungry, we will go to the restaurant.
  * Will he buy a new car if his wife passes a driving test?
  
  ### zamienniki IF :
  Before, when, until, till, after, unless
  
  **Unless** it snows, we won't go skiing.
  I'll call you after I'm back.
  
  
  ## 2nd conditional (przyszłość lub teraźniejszoć, przypuszczenie)
  Stosujemy, kiedy mówimy o sytuacjach prawie nierealnych, praktycznie niemożliwych do spełnienia. Stosujemy te konstrukcję mówiąc o teraźniejszości bądź przyszłości, aczkolwiek dany warunek nie ma prawie żadnej szansy na zaistnienie. Okres ten jest podobny do trybu przypuszczającego w języku polskim.
  
  ### Budowa:
  ## If + Past Simple + Future Simple in the Past (would + podstawowa forma czasownika)
  
  
  ### przykład:
  * If it rained, I would get wet. 
  
  * If I were taller, I would be a basketball player.
  
  present and future
  and it's not possible
  
  ### 3rd conditional (przeszłość)
  Używamy, kiedy mówimy o sytuacjach i zdarzeniach z przeszłości, których już nie możemy spełnić, ponieważ szansa na to bezpowrotnie minęła.
  
  ### Budowa:
  ## If + Past Perfect + Future Perfect in the Past (would have+ past participle)
  
  lub:
  
  Future Perfect in the Past + if + Past Perfect
  ### przykład:
  
  *    If my mother had driven more slowly, we would have seen the beautiful views in France.
  *    You would have loved this music star if you had gone with us to his concert last week.
  *    Would she have left her husband if she had met her first boyfriend last holidays?
  *    If I had bought a bitcoin 5 years ago, I wouldn't have started working in the bank.
  
  ## Mixed conditionals
  
  * **If 2, 3rd**
  Drugi i trzeci okres warunkowy możemy także pomieszać mówiąc o obecnej sytuacji, która mogła zmienić jakąś sytuację w przeszłości.
    * If Mary spoke French, she would have helped you with that translation.
       Gdyby Mary mówiła po francusku, pomogłaby ci przy tłumaczeniu.
      (ale nie zna i nie pomogła mu przetłumaczyć)
    * If they weren't afraid of spiders they would have searched the basement too. 	Gdyby się nie bali pająków, przeszukaliby też piwnicę. 
  
  
  If I were richer, I would have invested in shares.
  If I drove, I would have picked you up from the station yesterday.
  
  * **if 3rd con, 2nd** past simple+  would have
    * If he hadn't bought the car, he wouldn't be short of money now.
  odnosimy się do czynności, która została wykonana w przeszłości ale ma konkretny wpływ na sytuację w tej chwili. Kupił drogi samochód rok temu i dziś ma kłopoty finansowe - przeszłość ma wpływ na teraźniejszość.
    * If I had won the lottery, I would be rich. 
  Gdybym wygrał w totka, byłbym teraz bogaty.
  (ale nie wygrałem kiedyś tam i nie mam teraz góry pieniędzy)
  
  If I hadn't started working for the bank, we wouldn't be having this lesson now.
  If I had istened to Mateusz about cryptocurrecy, I would have now twice as much I have.
      If I had asked a floor guy about the prices, I would know the price is gonna change. 
      ![5457e27f.png](:storage/8ae82a0a-5597-4430-b391-5dcbca28e8f1/5457e27f.png)
      ![d0620910.png](:storage/8ae82a0a-5597-4430-b391-5dcbca28e8f1/d0620910.png)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
