createdAt: "2019-06-16T07:31:39.360Z"
updatedAt: "2019-06-16T07:31:46.526Z"
type: "MARKDOWN_NOTE"
folder: "a7e795acb6fcea97a14c"
title: "TypeScript"
tags: []
content: "TypeScript"
linesHighlighted: []
isStarred: false
isTrashed: false
