createdAt: "2019-06-16T09:12:22.101Z"
updatedAt: "2020-09-12T20:23:05.239Z"
type: "MARKDOWN_NOTE"
folder: "a7e795acb6fcea97a14c"
title: "Bootstrap"
tags: []
content: '''
  # Bootstrap
  
  ### Umiejscowienie elementów w jednym rzędzie
  ![bf06c14c.png](:storage/9bf930e1-00fb-4c5f-9c6b-4e0cdcb144e8/bf06c14c.png)
  ```html
  <div class="row">
  
    <div class="col-lg-5">
      <fitness-weight-add></fitness-weight-add>
    </div>
    <div class="col-lg-5">
      <ap-fitness-bmi-calculator></ap-fitness-bmi-calculator>
    </div>
  </div>
  ```
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
