createdAt: "2019-06-16T09:12:22.101Z"
updatedAt: "2019-06-16T09:12:42.733Z"
type: "MARKDOWN_NOTE"
folder: "a7e795acb6fcea97a14c"
title: "Bootstrap"
tags: []
content: '''
  # Bootstrap
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
