createdAt: "2019-05-19T09:46:53.466Z"
updatedAt: "2019-05-19T09:47:13.362Z"
type: "MARKDOWN_NOTE"
folder: "a38bc68bbb6e2970c167"
title: "Visual Studio Code"
content: '''
  # Visual Studio Code
  
  
'''
tags: []
isStarred: false
isTrashed: false
