createdAt: "2018-11-24T12:59:20.005Z"
updatedAt: "2019-06-10T07:36:28.986Z"
type: "MARKDOWN_NOTE"
folder: "a38bc68bbb6e2970c167"
title: "Docker"
content: '''
  # Docker
  
  ## Komendy
  
  * **docker version**
  * **docker info**
  * **docker run hello-world**
  * **docker ps -a**    
    lista uruchomionych kontenerów 
  * **docker imeges**   
    lista obrazów
    
  * **docker pull ubuntu:14.04**  
     pobranie obrazu ubuntu wersji  14.04 z repozytorium
  
  * **docker rmi ubuntu:14.04** 
    usuwanie obrazu z Docker HOST
  
  * **docker rmi $(docker images -q)**
    usunięcie wszystkich obrazów
  
  *  **docker images -q** 
    lista id obrazów
    
  
  
  ## What is container
  
  ![2f41f33c.png](:storage/a0d0b95d-53f2-4017-b145-ff54a522c016/2f41f33c.png)
  
  ### Therory of pulling and running container
  ![663ab036.png](:storage/a0d0b95d-53f2-4017-b145-ff54a522c016/663ab036.png)
  
  ### Containters and images
  
  Images ~ stopped containers
  Container ~ running images
  
  ### Container lifecycle
  * **docker start "containter**
  * **docker stop "containter"**
  * **docker rm 'containter'**
    usuwanie zatrzymanych kontenerów
  
  * **docker run -d --name web -p 80:8080 nigelpoulton/pluralsight-docker-ci**
    uruchamianie kontenera
    -d - detached
    "- -name" - nazwa contenera
    -it - interactive
    -p - port ( tutaj 80 na zewntątrz i 8080 wewnątrz kontenera)
    
    
  * **docker run -it --name temp ubuntu:latest /bin/bash**
    wejście do basha aplikacji
  
  * **ctrl P+Q** 
    wychodzenie z terminala kontenera bez zamykania terminala naszego systemu (na którym uruchomiony jest klaster)
  
  * **docker stop $(docker ps -aq)**
   wyłączenie wszystkich kontenerów
   
   
'''
tags: [
  "docker"
  "container"
]
isStarred: false
isTrashed: false
linesHighlighted: []
