createdAt: "2018-09-28T09:51:59.617Z"
updatedAt: "2018-09-28T09:52:20.370Z"
type: "SNIPPET_NOTE"
folder: "99518829502f949bd844"
title: "Building Web App Using Spring MVC, Hibernate, Bootstrap, and REST Services"
description: "Building Web App Using Spring MVC, Hibernate, Bootstrap, and REST Services"
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: false
