createdAt: "2020-12-03T22:07:50.295Z"
updatedAt: "2020-12-03T22:08:17.471Z"
type: "MARKDOWN_NOTE"
folder: "99518829502f949bd844"
title: "Keycloack"
tags: []
content: '''
  # Keycloack
  
  [Keycloak](https://www.keycloak.org/getting-started)
  
  [Keycloak - uwierzytelnianie i autoryzacja użytkownika w aplikacji Angular/Spring Boot \\| Consdata - blog techniczny](https://blog.consdata.tech/2020/02/01/keycloak-uwierzytelnianie-autoryzacja-springboot-angular.html)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
