createdAt: "2019-10-20T14:55:34.730Z"
updatedAt: "2019-10-20T14:58:28.175Z"
type: "MARKDOWN_NOTE"
folder: "84427892d6bee884f6e4"
title: "Past Tenses"
content: '''
  # Past Tenses
  
  ## Past perfect
  
  ## Past perfect continious
  
  ## Pat continious
  podmiot 	+ 	was/were 	+ 	czasownik z końcówką -ing
  
  * Tom was writing the letter all day yesterday. 	Tom pisał ten list przez cały wczorajszy dzień.
  
  * Yesterday at about eight we were listening to music. 	Wczoraj około ósmej słuchaliśmy muzyki.
'''
tags: []
isStarred: false
isTrashed: false
