createdAt: "2019-12-25T12:21:00.291Z"
updatedAt: "2019-12-25T12:21:10.970Z"
type: "MARKDOWN_NOTE"
folder: "dbe4e923f3375bbb496e"
title: "Java Persistence"
content: '''
  # Java Persistence
  
  ##
'''
tags: []
isStarred: false
isTrashed: false
